<div class="container">
  <div class="row">
    <div class="content " *ngFor="let content of contents">
      <div class="title">
        <span class="text">{{ content.Name }}</span>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
      <div class="subMenue">
        <div class="container">
          <div class="row">
            <div class="contentPer">{{ content.Percentage }}%</div>
            <div class="sub-center">
              <div class="col-sm">
                <i class="fa fa-check-circle" id="done" aria-hidden="true"></i>
                <span class="content-name">{{ content.Name }} DONE</span>
              </div>
              <div class="col-sm">
                <i
                  class="fa fa-exclamation-circle"
                  id="pending"
                  aria-hidden="true"
                ></i>
                <span class="span content-name">
                  {{ content.pending }} PENDING
                </span>
              </div>
            </div>

            <div class="menueNumber">
              <span class="totalNumber">{{ content.totalNumber }}</span>
              <span class="total">TOTAL</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
