.title {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.subMenue {
  width: 350px;
  height: 150px;
  position: relative;
  text-align: center;
  /* background-color: dodgerblue; */
  color: white;
  border-radius: 10px;
  background-image: url("/assets/images/content.png");
  background-repeat: no-repeat, repeat;
}
/* .loader {
  border: 2px solid #aca2a2;
  border-radius: 50%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  width: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 40px;
  left: 20px;
} */
h4 {
  text-align: center;
  color: white;
  font-weight: 100;
}

#pending {
  width: 40px;
  color: red;
}
.menueNumber {
  width: 20px;
  margin: 2px;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 15px;
}
.totalNumber {
  font-size: 20px;
}
.total {
  font-size: 10px;
  float: left;
}
.text {
  margin-right: 15px;
}
/*  */

.contentPer {
  display: inline-block;
  width: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 40px;
  left: 20px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff6b;
  /* border-right: 2px solid white; */
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

.center {
  position: relative;
}

.progressPlus {
  /* display: inline-block; */
  /* float: left;
  clear: left; */
  width: 200px;
  margin-left: 60px;
  margin-top: 50px;
  font-size: 15px;
}

#done {
  width: 40px;
  margin: auto;
}

.progressMun {
  /* display: inline-block; */
  width: 200px;
  /* float: left;
  clear: left; */
  margin-left: 50px;
  margin-top: 5px;
}
