.title {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  width: 300px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.subMenue {
  background-color: #51c6d6;
  color: white;
  border-radius: 10px;
  height: 200px;
  position: relative;
  text-align: center;
}
.menueNumber {
  position: absolute;
  text-align: center;
  top: 10px;
  right: 15px;
}
.totalNumber {
  font-size: 20px;
}
.total {
  font-size: 10px;
}
.text {
  margin-right: 15px;
}
/*  */

.contentPer {
  display: inline-block;
  width: 50px;
  position: absolute;
  text-align: center;
  top: 80px;
  left: 20px;
  font-size: 20px;
}

.center {
  position: relative;
}

.progressPlus {
  display: inline-block;
  width: 200px;
  margin-left: 60px;
  margin-top: 50px;
  font-size: 15px;
}

.progressMun {
  display: inline-block;
  width: 200px;
  margin-left: 50px;
  margin-top: 5px;
}
