.title {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  margin-left: 65px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* .content-name {
  width: 40px;
} */

.smallCenter {
  margin-top: 45px;
}

.subMenue {
  width: 450px;
  height: 150px;
  position: relative;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-image: url("/assets/images/content.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
    background-size: cover;
}

.subMenueCenter {
  float: left;
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
  font-size: 16px;
}
.content-name {
  font-size: 15px;
}
.content-done {
  font-size: 10px;
}

.menueNumber {
  width: 20px;
  line-height: 27px;
  margin: 2px;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 20px;
}
.totalNumber {
  font-size: 25px;
  float: right;
}
.total {
  font-size: 12px;
  float: left;
}
.text {
  margin-right: 15px;
}

.contentPer {
  display: inline-block;
  width: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 40px;
  left: 20px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff6b;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  width: 75px;
  height: 75px;
}

.center {
  position: relative;
}

.sub-center {
  margin-top: 35px;
  margin-left: 100px;
}

#done {
  margin: 0px 5px;
}
#pending {
  color: red;
  margin: 0px 5px;
}

@media only screen and (min-width: 768px) {
  .content {
    margin: auto;
  }
}

@media only screen and (min-width: 1551px) {
  .content {
    margin-left: 100px;
    margin-bottom: 20px;
  }
}

 