<footer class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm footer">
        <a
          class=" dropdown-toggle footerText"
          href="#"
          id="dropdown01"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >zidyia
        </a>
      </div>
      <span class="footer-line">|</span>
      <div class="col-sm footer">
        <a
          class=" dropdown-toggle footerText"
          href="#"
          id="dropdown01"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >English
        </a>
      </div>
      <span class="footer-line">|</span>
      <div class="col-sm footer">
        <a href="" class="footerText">Privacy</a>
      </div>
      <div class="col-sm footer">
        <a href="" class="footerText">Community</a>
      </div>
      <div class="col-sm footer">
        <a href="" class="footerText">FAQ</a>
      </div>
    </div>
  </div>
  <!-- <nav class="navbar navbar-expand-md ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle footerText"
          href="#"
          id="dropdown01"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >zidyia
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a
          class="nav-link dropdown-toggle footerText"
          href="#"
          id="dropdown01"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >English
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link footerText" href="#"
            >Privacy <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link footerText" href="#">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footerText" href="#">FAQ</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown01"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Dropdown</a
          >
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->
</footer>
