.navbar-brand {
  font-size: 30px;
}
.logo {
  margin: 0px 6px 0px 40px;
  /* margin-right: 6px; */
  width: 60px;
  line-height: 30px;
}
img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.verify {
  background-color: #32a0f4;
  color: white;
  width: 150px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
}
img.verifyImg {
  width: 40px;
  height: 30px;
}
a img .downArrow {
  width: 10px !important;
}

.nav-drop {
  padding-top: 15px;
}
.userdropdown {
  font-weight: bold;
}

.navIcon {
  padding-top: 2px;
  margin: 5px;
}

.fontAwesomIcon {
  color: darkgray;
  font-size: 1.5em;
  padding-top: 15px;
}

img#downArrow {
  color: darkgray;
  font-size: 1.5em;
}

.notification-color {
  border-radius: 50%;
  background-color: #32a0f4;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 5px;
  margin-top: -40px;
  margin-left: 10px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
}
