<div class="container ">
  <div class="row">
    <div class="col-sm ">
      <a
        class="contentSections"
        data-toggle="dropdown"
        data-display="static"
        aria-haspopup="true"
        aria-expanded="false"
        href="#"
      >
        <i class="fa fa-tachometer" id="dashboardIcon" aria-hidden="true"></i>
        My Dashboard</a
      >
      <hr id="new1" />
      <div class="dropdown-menu">
        <app-dashboard-menue></app-dashboard-menue>
      </div>
    </div>
    <div class="col-sm">
      <a class="contentSections" href="#">
        <i
          class="fa fa-graduation-cap"
          id="dashboardIcon"
          aria-hidden="true"
        ></i>
        Education</a
      >
    </div>
    <div class="col-sm">
      <a class="contentSections" href="#">
        <i class="fa fa-briefcase" id="dashboardIcon" aria-hidden="true"></i>
        Work</a
      >
    </div>
    <div class="col-sm">
      <a class="contentSections" href="#">
        <i class="fa fa-id-card-o" id="dashboardIcon" aria-hidden="true"></i>
        Certifications</a
      >
    </div>
    <div class="col-sm">
      <a class="contentSections" href="#">
        <i class="fa fa-scissors" id="dashboardIcon" aria-hidden="true"></i>
        Skills</a
      >
    </div>
  </div>
</div>
