.contentSections {
  color: white;
  text-decoration: none;
}

.dropdown-menu {
  width: 840px;
  height: 640px;
  background-color: #f3f4f8;
  margin-top: 5px;
  margin-left: 12px;
}

i#dashboardIcon {
  color: #3b85e7;
  font-size: 1.2em;
  padding-right: 4px;
}
i.fa.fa-tachometer.dashboardIcon {
  color: white;
  font-size: 1.2em;
  /* padding-right: 2px; */
}

.mydashboard {
  font-weight: bold;
}

a.contentSections:active {
  font-weight: bold;
}
hr#new1 {
  border-top: 2px solid white;
}
