<div class="navbar sub-content">
  <div class="subnav Dashboard">
    <a
      class="contentSections"
      data-toggle="dropdown"
      data-display="static"
      aria-haspopup="true"
      aria-expanded="false"
      href="#"
    >
      <i class="fa fa-tachometer dashboardIcon" aria-hidden="true"></i>
      <span class="mydashboard"> My Dashboard</span>
    </a>
    <hr class="new1" />
    <div class="dropdown-menu show">
      <app-dashboard-menue></app-dashboard-menue>
    </div>
  </div>
  <div class="subnav">
    <a class="contentSections" href="#">
      <i class="fa fa-graduation-cap" id="dashboardIcon" aria-hidden="true"></i>
      Education</a
    >
  </div>
  <div class="subnav">
    <a class="contentSections" href="#">
      <i class="fa fa-briefcase" id="dashboardIcon" aria-hidden="true"></i>
      Work</a
    >
  </div>
  <div class="subnav">
    <a class="contentSections" href="#">
      <i class="fa fa-id-card-o" id="dashboardIcon" aria-hidden="true"></i>
      Certifications</a
    >
  </div>
  <div class="subnav">
    <a class="contentSections" href="#">
      <i class="fa fa-superpowers" id="dashboardIcon" aria-hidden="true"></i>
      Skills</a
    >
  </div>
</div>
