.container {
  justify-content: center;
}
.user {
  padding-right: 50px;
}

.user-border {
  width: 200px;
  line-height: 200px;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #ffffff6b;
}
.userInfo {
  padding-top: 10px;
  text-align: center;
}
img.userImg {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.user-verify {
  border-radius: 50%;
  background-color: #4564e1;
  width: 40px;
  line-height: 40px;
  margin-top: -32px;
  margin-left: 140px;
}

.verifyImgUser {
  width: 30px;
}

.userName {
  font-weight: bold;
  font-size: 25px;
  margin-top: 15px;
}

.userJob {
  margin-top: 5px;
  font-size: 12px;
}

.userAddress {
  margin-top: 40px;
}

.profile {
  text-decoration: none;
}
.editProfile {
  background-color: #25a1ec;
  text-align: center;
  border-radius: 25px;
  color: white;
  line-height: 50px;
  margin-top: 25px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .userName {
    width: 200px;
    font-size: 20px;
  }
  .userJob {
    width: 200px;
  }
  .userAddress {
    width: 200px;
  }
  .profile {
    width: 200px;
  }
  .editProfile {
    width: 200px;
  }
}

@media screen and (min-width: 999px) {
  .user {
    margin-left: 0px;
  }
  .userName {
    width: 200px;
    font-size: 20px;
  }
  .userJob {
    width: 200px;
  }
  .userAddress {
    width: 200px;
  }
  .profile {
    width: 200px;
  }
  .editProfile {
    width: 200px;
  }
}

@media only screen and (min-width: 1300px) {
  .userInfo {
    margin-left: 100px;
  }
  .userName {
    width: auto;
  }
  .userJob {
    width: auto;
  }
  .userAddress {
    width: auto;
  }
  .profile {
    width: auto;
  }
  .editProfile {
    width: auto;
  }
}
