<div class="container user">
  <div class="userInfo">
    <div class="user-border">
      <img [src]="user.image" alt="" class="userImg" />
    </div>
    <div class="user-verify">
      <img class="verifyImgUser" src="./assets/images/userverify.png" />
    </div>
    <div class="userName">{{ user.firstName }} {{ user.lastName }}</div>
    <p class="userJob">
      {{ user.job }}
    </p>
    <p class="userAddress">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {{ user.address.state }}
    </p>
    <a class="profile" href="#"
      ><div class="editProfile">Edit Your Profile</div></a
    >
  </div>
</div>
