.content {
  display: flex;
  background-color: #4564e1;
  color: white;
  margin-top: 10px;
}
.container.mainContent {
  padding-top: 20px;
}
.appAboutContent {
  background-color: #f8f7fc;
}

.col-md-9{
  padding-right: 80px !important;
   
}

.container { 
 width: 100% !important;
 
}

 